:root {
  --deep: #1b1b2f;
  --acc1: #1f4068;
  --acc2: #e43f5a;
  --acc2dimmed: #dc6478;
  --txt: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --txtc: #fbfdff;
}
* {
  box-sizing: border-box;
  font-family: var(--txt);
}
body {
  background-color: var(--deep);
  color: var(--txtc);
}
h2 {
  margin-bottom: 2rem;
}
.dot {
  color: var(--acc2);
}
/* Jumbotron */
.jumbotron {
  max-width: 1024px;
  margin: auto;
  background-color: transparent;
  padding: 2rem 2rem;
}
/* Navigation bar */
.navbar {
  padding: 0;
  margin-bottom: 40px;
}
#navbarNav {
  justify-content: right;
}
#logo {
  font-size: 1.75rem;
  font-weight: 500;
}
.navbar a {
  text-decoration: none;
  color: var(--txtc);
  font-size: 1.125rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.navbar .nav-item a:hover {
  color: var(--acc2);
}
.navbar-toggler {
  border-color: var(--acc1);
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Hero Section */
#about {
  padding: 20px;
  background-color: var(--acc1);
  border-radius: 5px;
}
#itsMe {
  width: 200px;
  border-radius: 5px;
}
.heroContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.not {
  text-decoration: line-through;
}
.follow a {
  text-decoration: none;
  color: var(--acc2);
  transition: 0.3s;
}
.follow a:hover {
  color: var(--deep);
}
/* Projects */
.wrap {
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
}
.card {
  height: 375px;
  background-color: var(--acc1);
}
.card-img-top {
  max-height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: top;
  padding: 1rem;
  border-radius: 20px;
  transition: 0.3s;
}
.card-img-top:hover {
  padding: 0rem;
  border-radius: 5px;
}
/* Skills */
#skillsContainer {
  background-color: var(--acc1);
  padding: 2rem;
  border-radius: 5px;
}
.skillLogo {
  width: 150px;
  display: block;
  margin: auto;
}
.skills {
  height: 150px;
  display: flex;
}
.form-group {
  margin-bottom: 2rem;
}
.notYet {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* Contact */
form {
  width: 500px;
  margin: auto;
  padding-top: 2rem;
}

.feedback {
  display: flex;
  color: var(--txtc);
  font-size: 18px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--acc2dimmed);
  transition: all 0.5s;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.feedback:focus {
  border: 2px solid var(--acc2);
  outline-width: 0;
}

textarea {
  height: 200px;
  resize: vertical;
}

.btn {
  width: 100%;
  border-radius: 5px;
  background: var(--acc2dimmed);
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.125rem;
  padding: 10px 0;
  transition: all 0.5s;
  font-weight: 700;
}

.btn:hover {
  background: var(--acc2);
}
/* Footer */
footer {
  margin-top: 4rem;
  text-align: center;
}
.footNav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}
.footNav li {
  display: inline;
  padding: 1rem;
}
.footNav a {
  text-decoration: none;
  color: var(--txtc);
  font-size: 1.125rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.footNav a:hover {
  color: var(--acc2);
}
#myGit {
  background-color: transparent;
  border: 2px solid var(--acc2);
  border-radius: 5px;
  color: var(--txtc);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: 0.5s;
}
#myGit:hover {
  background-color: var(--acc2);
  box-shadow: 5px 5px var(--acc2dimmed);
  transform: translateY(-0.25em) translateX(-0.25em);
}
/* Media Queries */
@media only screen and (max-width: 800px) {
  #itsMe {
    display: block;
    margin: auto;
    padding-bottom: 2rem;
  }
  h1 {
    text-align: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sm-first {
    padding-bottom: 2rem;
  }
}
